.dashboard-card {
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  background: linear-gradient(90deg, #624aa0 0%, #361d90 100%);
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.1);
  &:where(.secondary) {
    background: linear-gradient(90deg, #4286de 0%, #265bb6 100%);
  }
  & > * {
    margin: 8px 0;
  }
  .icon {
    border-radius: 4px;
    padding: 8px;
    display: grid;
    place-content: center;
    width: min-content;
    background: rgba(0, 0, 0, 0.2);
  }
  h1 {
    font-size: 22px;
    font-weight: 600;
    line-height: 150%;
  }
  > p {
    font-size: 12px;
    font-weight: 400;
  }
  .stat {
    display: flex;
    margin-top: 20px;
    gap: 1rem;
  }
  p {
    font-size: 14px;
  }
}
