@import './Card/Card';
@import './dashboard-mini-card';
@import './dashboard-card';

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

.verification-input {
  display: flex;
  justify-content: space-between;
  input {
    width: clamp(55px, 10%, 60px);
    background-color: transparent;
    border-radius: 5px;
    height: 3rem;
    outline: purple;
    text-align: center;
    border: 1px solid #d9d9d9;
  }
}

.dashboard__menu-container {
  background-color: #7e339c1a;

  &:hover {
    background-color: #7e339c2d;
  }
  height: 24px;
  border-radius: 5px;
  padding: 0 2px;
  cursor: pointer;
}

.dashboard__logo {
  width: 34px;
  height: 32px;
}
