.dashboardLayout {
  padding: 0 30px 30px 30px;
  &-title {
    text-align: center;
    font-weight: 600;
    font-size: 20px;
  }
}

.heading {
  color: #333d49;
  h1 {
    font-size: 14px;
    font-weight: 600;
  }
  p {
    font-size: 12px;
  }
}

.card-container {
  display: grid;
  gap: 8px;
  padding-top: 18px;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}
