$primaryLight: #46bcfe;
$primary: #18acfe;
$primaryDark: #1078b1;
//---------------------//
$secondaryLight: #f16199;
$secondary: #ee3a80;
$secondaryDark: #a62859;
//---------------------//
$accent1Light: #7e339c;
$accent1: #5e0084;
$accent1Dark: #41005c;
//---------------------//
$primaryText: #000;
$secondaryText: #47494e;
$disabledText: #888a8d;
