@import './reset';
@import '../app/app';
@import '../components/components';
@import './general';
@import './variables';

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #5f00843a;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #5f0084bd;
}

html {
  font-size: 14px;
}
body {
  font-size: 1rem;
  color: $primaryText;
  line-height: 1.5rem;
  font-family: var(--poppins);
}
g.recharts-layer.recharts-cartesian-axis.recharts-yAxis.yAxis > g > g > line,
g.recharts-layer.recharts-cartesian-axis.recharts-yAxis.yAxis > line {
  display: none;
}
@media screen and (min-width: 680px) {
}
@media screen and (min-width: 960px) {
}
@media screen and (min-width: 1280px) {
}
